/* root variables */
:root {
  --Darkblue: #003b5d;
}

/* General Style Adjustments */
body{
  display: flex;
  flex-direction: column;
  font-family: 'Albert Sans';
}

p{
 display: inline-block;
}

/*Fix menu and acess bar on screen*/
.fixed_bar{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Acess Bar Classes */
.acess_bar{
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background-color: white;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 100px;
  row-gap: 10px;
  padding: 20px;
}

.acess_link{
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2px;
  color: var(--Darkblue);
}

.simple_container{
  display: flex;
  column-gap: 20px;
  height: fit-content;
}


/* Menu Classes */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: var(--Darkblue);
  
  border-bottom: solid; /*Separator*/
  border-radius: 0 0 0 5px;
  border-color: white;
}

.menu_logo_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  column-gap: 10px;
}

.menu_logo{
  border-radius: 50px;
}

.menu_logo_title{
  color:white;
  font-weight: 900;
  font-size: 24px;
  width: 205px;
}

.menu_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.menu_buttons_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 90px;
  margin-left: 150px;
  height: 100%;
}

.menu_font{
  font-weight: 900;
  color:white;
  font-size: 36px ;
}

.button_holder{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu_indicator{
  background-color: white;
  width: 100%;
  height: 15px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
}

/* Content Section */








/* ====================== Media Queries ====================== */

/* 1500 intermediate */
@media (max-width: 1500px) {
    /* Acess bar */
  .simple_container{
    column-gap: 20px;
  }
  
  .acess_bar {
    flex-direction: row;
    gap: 20px;
  }
  
  .acess_link {
    font-size: 20px;
  }
  
  /*Menu*/
  .menu_font{
  font-weight: 900;
  color:white;
  font-size: 22px ;
  }

  .menu{
  height: 85px;
  }

  .menu_logo{
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.menu_logo_title{
  color:white;
  font-weight: 900;
  font-size: 23px;
  width: 205px;
}



}


/* 1200 intermediate */
@media (max-width: 1200px) {
  /* Acess bar */
  .simple_container{
    column-gap: 20px;
  }
  
  .acess_bar {
    flex-direction: column;
    gap: 20px;
  }
  
  .acess_link {
    font-size: 16px;
  }

  /*Menu*/
  .menu_logo_title{
    display: none;/*removing the logo to fit the menu*/
  }

  .menu_buttons_container{
    margin-left: 0px;
  }

  .menu_logo_container{
    margin-right: 40px;
  }

  .menu_font{
  font-weight: 900;
  color:white;
  font-size: 26px ;
  }
}



/* Tablets 768px*/
@media (max-width: 768px) {
  /* Acess bar */
  .acess_bar {
    flex-direction: column;
    gap: 20px;
  }

  .simple_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .acess_link {
    font-size: 14px;
  }

  .menu_font{
  font-weight: 900;
  color:white;
  font-size: 16px ;
  }

  .menu{
  height: 50px;
  }


}





/* Extra Small [TODO]*/
@media (max-width: 430px) {
  /* Acess bar */
  .acess_bar {
    flex-direction: column;
    gap: 20px;
  }

  .simple_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .acess_link {
    font-size: 12px;
  }

  .menu_font{
  font-weight: 900;
  color:white;
  font-size: 12px ;
  }

  .menu{
  height: 35px;
  }
}