/* root variables */
:root {
  --Darkblue: #003b5d;
  --Darkblue_light: #0073b6;
  --BlueBorder: #0068a5;

  --PaleOrange: #ea9a68;
  --DarkerBlue: #00263c;
  --DarkerOrange: #eb7228;
  --WhiteText: #ffffff;

  --FontsizeSmall: 16px;
  
  --MainContentFontSize: max(1.4vw, 20px);
  --ImageBoardLowerTextSize: max(1.4vw, 20px);
  --ImageBoardTitleFontSize: max(1.4vw, 15px);
}

html{
  overflow-x: hidden;
}


/* General Style Adjustments */
body{
  display: flex;
  flex-direction: column;
  font-family: 'Albert Sans';
  font-size: 30px;
  color: var(--WhiteText);
  overflow-x: hidden;
}

p{
  display: inline-block;
  line-height: 35px;
}

ul{
  list-style-type: disc;
  line-height: 35px;
}


.scroll-top-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;

  padding: 10px 16px;
  font-size: 18px;
  border: solid;
  border-radius: 8px;

  background-color: white;
  color: #000;
  font-family: 'Alata';
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
  box-shadow: 0px 2px 6px rgba(0,0,0,0.2);

  display: none; /* começa escondido */
}

.scroll-top-btn:hover {
  background-color: #b8b8b8;
}


/* ==================== Lock menu and acess bar on screen ==================== */
.fixed_bar{
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  z-index: 10;
}

/* ==================== Acess Bar Classes ==================== */
.acess_bar{
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  background-color: var(--WhiteText);
  
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 200px;
  row-gap: 10px;
  padding: 10px;
}

.acess_button{
  background-color: transparent;
  border: none;
  font-size: max(1.3vw, 15px);
  font-weight: 900;
  
  color: var(--Darkblue);
}

.acess_button:hover{
  text-decoration: underline;
  color: var(--Darkblue_light);
  cursor: pointer;
}

.simple_container{
  display: flex;
  column-gap: 20px;
  height: fit-content;
}

.acess_button::after {
  content: attr(data-full);
}


/* ==================== Menu Classes ==================== */
.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: fit-content;
  background-color: var(--Darkblue);
  
  border-bottom: solid; /*Separator*/
  border-radius: 0 0 0 5px;
  border-color: white;

  box-shadow: 0 10px 5px -5px black;
}

.menu_logo_container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: fit-content;
  width: fit-content;
  column-gap: 10px;
}

.menu_logo_container:hover{
  cursor: pointer;
}

.menu_logo{
  border-radius: 50px;
}

#home_logo{
  margin-left: 2vw;
}

.menu_logo_title{
  color:var(--WhiteText);
  font-weight: 900;
  font-size: 24px;
  width: 205px;
}

.menu_content{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 120px;
}

.menu_buttons_container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 3vw;
  margin-left: max(10vw,12px);
  height: 100%;
}

.menu_button{
  font-weight: 900;
  color:var(--WhiteText);
  font-size: max(2.0vw, 20px);
  background-color: transparent;
  border: none;
}

.menu_button:hover{
  cursor: pointer;
  text-decoration: underline;
}

.button_holder{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.menu_indicator{
  background-color: var(--WhiteText);
  width: 100%;
  height: 15px;
  border-radius: 20px 20px 0 0;
  position: absolute;
  bottom: 0;
  visibility: hidden;
}

/* ==================== Content Section ==================== */
.main_content{
  display: flex;
  flex-direction: column;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.generic_line{
  display: flex;
  flex-direction: row;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

.generic_line_column{
  display: flex;
  flex-direction: column;
  padding: 15px;
  justify-content: center;
  align-items: center;
}

/*all content section uses the same column classes*/
.section_title_block{
  display: flex;
  flex-direction: row;
  height: fit-content;
  justify-content: start;
  align-items: start;
  width: 100%;
}

.section_content_block{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  height: fit-content;
}

.force_flex_column{
  flex-direction: column;
}

.section_content_block_start{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: start;
  padding: 10px;
  width: 100%;
  height: fit-content;
}

.column_left{
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  height: fit-content;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 50px;
}

.column_right{
  display: flex;
  flex-direction: column;
  padding: 20px 20px;
  height: fit-content;
  justify-content: start;
  align-items: start;
  width: 100%;
  padding-right: 50px;
}

.left_image{
  max-width: 450px;
  max-height: 400px;
  filter: drop-shadow(0 0 4px black);
}

.left_image_big{
  width: max(35vw,400px);
  filter: drop-shadow(0 0 4px black);
}

.section_text_dark{
  font-size: var(--MainContentFontSize);
  font-family: 'Alata';
  color: var(--DarkerBlue);
  letter-spacing: 2px;
  font-weight: 600;
}

.section_text_white{
  font-size: var(--MainContentFontSize);
  font-family: 'Alata';
  font-weight: 600;
  color: var(--WhiteText);
  letter-spacing: 2px;
}

/* ==================== Blue Section ==================== */
.blue_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--Darkblue);
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.blue_section_title{
  font-size: max(3.5vw,45px);
  font-weight: 900;
  margin: 10px 0 10px 100px;
  color: var(--WhiteText);
  word-spacing: 2.5px;
}

#body_logo{
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin-bottom: 30px;
  filter: drop-shadow(0 0 4px black);
}

.blue_section_big_text{
  font-size: max(2vw, 40px);
  word-spacing: 1.5px;
  color: var(--WhiteText);
  font-weight: 900;
  text-align: center;
}

/* ==================== Orange Section ==================== */
.orange_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--PaleOrange);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
}

.orange_section_title{
  font-size: max(3.5vw,45px);
  font-weight: 900;
  margin: 10px 0 10px 100px;
  color: var(--DarkerBlue);
  word-spacing: 2.5px;
}

/* ==================== white Section ==================== */
.white_section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--WhiteText);
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

.white_section_title{
  font-size: max(3.5vw,45px);
  font-weight: 900;
  margin: 10px 0 10px 100px;
  color: var(--DarkerOrange);
  word-spacing: 2.5px;
}




/* ==================== Image Board ==================== */
.image_board_holder{
  display: flex;
  flex-direction: column;
  height: fit-content;
  justify-content: center;
  align-items: center;
}

.image_board{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 25vw;
  width: 100%;
  filter: drop-shadow(0 0 4px black);
}

.image_board_image{
  object-fit: cover;
  height: 100%;
  border-radius: 4%;
  width: 80%;
}

.image_board_title{
  display: flex;
  width: fit-content;
  height: fit-content;
  align-items: center;
  justify-content: center;
  width: fit-content;

  transform: translateY(-50%);

  background-color: var(--Darkblue);
  
  border-color: var(--BlueBorder);
  border-width: 7px;
  border-radius: 20px;
  border-style: solid;
  padding: 10px;
}

.image_board_title_text{
  font-size: var(--ImageBoardTitleFontSize);
  font-family: 'Alata';
  font-weight: 600;
  color: var(--WhiteText);
  letter-spacing: 2px;
  white-space: nowrap;
}


.image_board_lower_text_holder{
  display: flex;
  height: fit-content; 
  align-items: center;
  justify-content: center;
  width: 100%;
}


.image_board_lower_text{
  color: var(--DarkerBlue);
  font-size: var(--ImageBoardLowerTextSize);
  font-weight: 600;
  font-family: 'Alata';
  letter-spacing: 2px;
  text-align: center;
  padding: 0px 10px;
}

.start_text{
  font-family: 'Alata';
  padding: 20px 80px;
  letter-spacing: 2px;
  text-align: start;
  align-self: flex-start;
}

.start_text_less_padding{
  padding: 20px 20px;
}

.extra_side_padding{
  padding: 20px 120px;
}

.center_text{
  font-size: max(1.4vw, 20px);
  font-family: 'Alata';
  padding: 20px 50px;
  letter-spacing: 2px;
  text-align: center;
}

.image_center{
  width: 550px;
  border-radius: 20px;
  margin: 15px;
  filter: drop-shadow(0 0 4px black);
}


/* ====================== Buttons ====================== */
.button1{
  background-color: var(--Darkblue);
  font-size: max(2vw, 25px);
  font-family: 'Alata';
  color: var(--WhiteText);
  padding: max(1vw, 8px) max(1vw, 8px);
  border-radius: 1.5rem;
  border: none;
}

.button1:hover{
  background-color: var(--Darkblue_light);
  cursor: pointer;
  text-decoration: underline;
}

/* ====================== footer ====================== */
.center_text_footer{
  font-size: 20px;
  color: var(--WhiteText);
  font-family: 'Albert Sans';
  text-align: center;
  font-weight: 900;
}

.text_footer{
  font-size: 20px;
  color: var(--WhiteText);
  font-family: 'Albert Sans';
  text-align: start;
  font-weight: 900;
}

.column_left_footer{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  height: fit-content;
  justify-content: start;
  align-items: start;
  width: 50%;
  padding-left: 2.5vw;
}

.column_right_footer{
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  height: fit-content;
  justify-content: start;
  align-items: start;
  width: 50%;
  padding-right: 2.5vw;
  row-gap: 10px;
}

.social_footer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  column-gap: 10px;

}

.btn_social{
  display: flex;
  flex-direction: row;
  background: transparent;
  color: var(--WhiteText);
  border: none;
  align-items: center;
  justify-content: center;
  font-family: 'Albert Sans';
  font-size: 20px;
  font-weight: 900;
  column-gap: 10px;
}

.btn_social:hover{
  cursor: pointer;
  text-decoration: underline;
}

.social_image{
  width: 30px;
}

.form{
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 520px;
}

.text_input{
  height: 50px;
  border: none;
  border-radius: 10px;
  text-align: center;

  font-family: 'Alata';
  font-size: 30px;
}


/* ====================== Media Queries ====================== */
/* 1500 intermediate */
@media (max-width: 1500px) {
    /* Acess bar */
  .simple_container{
    column-gap: 20px;
  }
  
  .acess_bar {
    gap: 20px;
  }
  
  .acess_link {
    font-size: 20px;
  }
  
  /*Menu*/
  .menu_font{
  font-weight: 900;
  color:white;
  font-size: 22px ;
  }

  .menu{
  height: 85px;
  }

  .menu_logo{
  border-radius: 50px;
  width: 70px;
  height: 70px;
}

.menu_logo_title{
  color:white;
  font-weight: 900;
  font-size: 23px;
  width: 205px;
}
}

/* 1000 intermediate */
@media (max-width: 1000px) {
#body_logo{
  width: 300px;
  height: 300px;
}

.section_content_block{
  flex-direction: column;
}

.section_content_block_start{
  flex-direction: column;
  align-items: center;
}

.menu_buttons_container{
  margin: 20px;
}

.menu_logo_title{
  display: none;
}

.column_right{
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: fit-content;
}

.column_left{
  padding: 20px 50px;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.left_image{
  max-width: 300px;
}

.blue_section_title{
  margin: 10px 0 10px 50px;
}

.orange_section_title{
  margin: 10px 0 10px 50px;
}

.white_section_title{
  margin: 10px 0 10px 50px;
}

.image_center{
  width: 400px;
}

.column_left_footer{
  padding: 0px 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 5px;
}

.column_right_footer{
  padding: 0px 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image_board{
  height: 40vw;
  width: 80%;
}
}

/* 660px alter acess bar options names */
@media (max-width: 660px) {
  .acess_button::after {
    content: attr(data-short);
  }

  .acess_bar{
    flex-direction: column;
  }
}

/* 520 low */
@media (max-width: 550px) {
  .acess_bar{
    gap: 10px;
  }
  
  .left_image{
    max-width: 250px;
  }

  .menu_button{
    font-size: 14px;
  }

  .menu_logo{
    width: 50px;
    height: 50px;
  }

  .menu{
    height: 60px;
  }

  .menu_indicator{
    height: 10px;
  }

  .menu_content{
    height: 99%;
  }

  #body_logo{
    width: 200px;
    height: 200px;
  }

  .blue_section_title{
    font-size: 30px;
    margin-left: 10px;
  }

  .orange_section_title{
    font-size: 30px;
    margin-left: 10px;
  }

  .white_section_title{
    font-size: 30px;
    margin-left: 10px;
  }

  .column_right{
    padding: 5px;
  }

  .blue_section_big_text{
    font-size: 22px;
  }

  .section_text_white{
    font-size: var(--FontsizeSmall);
  }

  .section_text_dark{
    font-size: var(--FontsizeSmall);
  }

  .center_text{
    font-size: var(--FontsizeSmall);
    padding: 10px;
  }

  .left_image_big{
    width: 290px;
  }

  .image_center{
    width: 290px;
  }

  .text_footer{
    font-size: var(--FontsizeSmall);
  }

  .center_text_footer{
    font-size: var(--FontsizeSmall);
  }

  .btn_social{
    font-size: var(--FontsizeSmall);
  }

.start_text{
  padding: 10px 10px;
}

.extra_side_padding{
  padding: 10px 30px;
}

.image_board{
  height: 200px;
}

.image_board_title{
  padding: 5px;
}

.form{
  width: 300px;
}

.text_input{
  height: 40px;
  font-size: 16px;
}

.image_board_lower_text{
  font-size: var(--FontsizeSmall);
}
}
